---
name: On Merge
on:
  push:
    branches:
      - main
      - master
      - prod
      - release
      - dev
      - demo
env:
  IMAGE_NAME: experimentga
  REPO_NAME: yaakxis

jobs:
  pr:
    uses: ./.github/workflows/pr.yml

  build:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: yaakxis
          password: ${{ secrets.YAAKXIS_DOCKER_TOKEN }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ env.REPO_NAME }}/${{ env.IMAGE_NAME }}:latest
